URxvt.background:		[95]#1F1D19
URxvt.depth:			32
URxvt.foreground:		#DEDEDE
URxvt.font:			xft:DejaVu Sans Mono:pixelsize=12:antialias=true:hinting=true
URxvt.boldFont:			xft:DejaVu Sans Mono:bold:pixelsize=12:antialias=true:hinting=true
URxvt.scrollBar:		false
URxvt.saveLines:		65535
Xft*dpi:       			96
Xft*antialias: 			True
Xft*hinting:   			Full
URxvt.perl-ext-common: 		clipboard
iURxvt.clipboard.autocopy:	true
URxvt.url-launcher: 		/usr/bin/xdg-open
URxvt.matcher.button: 		1
URxvt.colorUL: 			#4682B4
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false

